accelerate
anthropic
beautifulsoup4
bitsandbytes
chromadb
datasets
elasticsearch
faiss-cpu
feedparser
gensim
google-generativeai
gradio
ipywidgets==8.1.2
jupyter-dash
jupyterlab
langchain
langchain-openai
langchain[docarray]
langchain_chroma
langchain_experimental
matplotlib==3.8.4
modal
numpy
ollama
openai
pandas==2.2.2
plotly
psutil
pydub
python-dotenv
requests
scikit-learn
scipy
sentence_transformers
sentencepiece
setuptools
speedtest-cli
torch==2.3.0
torchvision==0.18.0
transformers
tqdm==4.66.4
unstructured
